body{
    padding-top: 16px;
}
.bubble{
    background-color: gainsboro;
    border-radius: 2px;
}
            
.bubblyRedBubble{
    background-color: #E57373;
    border-radius: 2px;
}
            
.invisible{
    opacity: 0;
}
            
.textarea {
    border: 1px solid gray;
    border-radius: 4px!important;
    height: 100px;
    overflow: auto;
    padding: 2px;
    position: absolute;
    background-color:white;
    width: 100%;
}

.box__input .box__file,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box_is_dragover {
    background-color: grey;
    border:2px solid black;
    border-radius: 4px!important;
    height: 100px;
    overflow: auto;
    padding: 2px;
    position: relative;
    width: 100%;
    text-align:center;
}

.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.box {
    border:2px dotted;
    border-radius: 4px!important;
    height: 100px;
    overflow: auto;
    padding: 2px;
    position: relative;
    background-color:white;
    width: 100%;
    text-align:center;
}

.box_valid {
    border:2px dotted;
    border-radius: 4px!important;
    height: 100px;
    overflow: auto;
    padding: 2px;
    position: relative;
    background-color:lawngreen;
    width: 100%;
    text-align:center;
}

.box_invalid {
    border:2px dotted;
    border-radius: 4px!important;
    height: 100px;
    overflow: auto;
    padding: 2px;
    position: relative;
    background-color:red;
    width: 100%;
    text-align:center;
}

label>strong:hover{
    color: dodgerblue;
}
